:root {
  --primary: #ff0000;
  --bg: #010101;
  --primary1: #094f94;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", Georgia;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(0, 0, 0, 0.425);
  border-bottom: 1px solid #9a4d4d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}

.navbar .navbar-logo span {
  color: #094f94;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar-extra {
  /* margin-top: 10px; */
  text-align: right;
  font-weight: bold;
  position: relative;
}

.lang-menu {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 2.5;
  /* width: 75px; */
  font-size: 1em;
}

.lang-menu:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(https://flagsapi.com/ID/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
}

.navbar-extra ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: var(--primary1);
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 25px;
  right: 0px;
  width: 140px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.navbar-extra ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.navbar-extra ul li:hover {
  background-color: lightblue;
  border-radius: 5px;
}

.navbar-extra ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}
.navbar-extra ul li a:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.gb:before {
  background-image: url(https://flagsapi.com/GB/flat/32.png);
}
.id:before {
  background-image: url(https://flagsapi.com/ID/flat/32.png);
}
.tr:before {
  background-image: url(https://flagsapi.com/TR/flat/32.png);
}

.navbar-extra:hover ul {
  display: block;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
  cursor: pointer;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/Optik1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center 32%;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(1, 1, 3) 10%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 70rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #ff0000;
  /* background-color: rgba(2, 23, 255, 0.717); */
  /* border-radius: 20px; */
  /* text-align: center; */
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
.hero .content h1 span {
  color: var(--primary1);
}
.hero .content .hp {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  color: #70d666;
  font-weight: bold;
  mix-blend-mode: difference;
}
.hero .content .hp .hpedom {
  color: #ff0000;
  font-weight: bolder;
}
.hero .hp .hemodule {
  color: #094f94;
  font-style: italic;
  font-weight: 900;
}
.hero .content .hsimulasi {
  color: #ff0000;
  font-weight: bolder;
}
.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
  background-color: var(--primary);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.hero .content .cta:hover {
  background-color: var(--primary1);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
}
/* Pedoman Section */
.Pedoman,
.emodule,
.simulasi {
  padding: 7rem 7% 1.4rem;
}
.Pedoman h2,
.emodule h2,
.simulasi h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.Pedoman h2 span {
  color: #094f94;
}

.emodule h2 span {
  color: #ff0000;
}
.simulasi h2 span {
  color: #094f94;
}
.Pedoman .row {
  display: flex;
}

.Pedoman .row .pedoman-img {
  flex: 1 1 45rem;
}

.Pedoman .row .pedoman-img img {
  width: 100%;
}

.Pedoman .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.Pedoman .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.Pedoman .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}
/* E-Module Section */
.emodule p {
  text-align: justify;
  /* margin-bottom: 0rem; */
  font-size: 1.65rem;
  font-weight: 100;
  line-height: 1.6;
}

/* .header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}

.header_fixed table {
  width: 100%;
  border-collapse: collapse;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: var(--primary);
  color: #e6e7e8;
  font-size: 1.6rem;
}

.header_fixed thead th:hover {
  color: #ffffff;
  background-color: var(--primary1);
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: justify;
}

.tp {
  margin-top: 0.4em;
}

tr:nth-child(odd) {
  background-color: var(--primary1);
}

tr:hover td {
  color: #ffffff;
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.emodule .pemantulan {
  margin-top: 1em;
  /* text-align: center; */
  /* margin-bottom: 1em; */
  /* display: flex;
  flex-wrap: wrap; */
  text-align: justify;
  border: darkgrey;
  border-radius: 5px;
}

.pemantulan h2 {
  font-size: 2.5em;
  justify-content: center;
  background-color: var(--primary);
}

.pemantulan h2 span {
  color: var(--primary1);
}

.emodule .pemantulan p {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 100;
}

.emodule .pemantulan .general span {
  font-style: italic;
}

.emodule .pemantulan .subjudul,
.subjudul2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-decoration-line: underline;
  font-style: italic;
}

.emodule .row {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 1rem;
  justify-content: center;
}

.emodule .row .emodulepics,
.emodulepics1 {
  text-align: center;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  padding-left: 1px;
}

.desc1 {
  padding-right: 1px;
  margin-top: 25px;
}
.emodule .row .emodulepics img {
  border-style: groove;
  border-color: darkgrey;
  max-width: 320px;
  float: left;
  margin-right: 15px;
}

.emodulepics1 .video {
  border-style: groove;
  border-color: darkgrey;
  width: 1366px;
  float: left;
  margin-right: 15px;
}

.video1 {
  width: 100%;
  height: 75%;
}

.emodule .row .emodulepics .emodulepics-title {
  margin: 1rem auto 1.5rem;
}

.emodulepics2 {
  text-align: center;

  display: flex;
  justify-content: center;
}
.emodulepics2 img {
  border-style: groove;
  border-color: darkgrey;
  max-width: 320px;
  float: right;
  margin-left: 15px;
}

.emodulepics2 .explain .explain1 .reflect {
  background-color: var(--primary);
}

.explain1 .reflect1 {
  background-color: var(--primary1);
}

.gelombang .explain2 span {
  background-color: var(--primary1);
}

.gelombang .sidequest {
  background-color: var(--primary);

  display: flex;
  justify-content: center;
}

.gelombang .istirahat {
  background-color: var(--primary1);
  text-align: center;
  margin-top: 10px;
}

.emodulepics1 .emodulepics-title1 {
  margin: 1rem auto 1.5rem;
}

.emodule .row .gelombang .check {
  background-color: var(--primary);
}

.gelombang .wave {
  font-style: italic;
}

.gelombang .water {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gelombang .water .water1 img,
.water2 img {
  max-width: 320px;
  border-radius: 10px;
  border-color: darkgrey;
  border-style: groove;
  margin-top: 5px;
  margin-right: 5px;
}

.gelombang .water1 h3,
.water2 h3 {
  text-align: center;
}

.wavefront {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wavefront .wavefront1 img,
.wavefront2 img {
  max-width: 320px;
  border-radius: 10px;
  border-color: darkgrey;
  border-style: groove;

  margin-right: 5px;
}

.wavefront1 h3,
.wavefront2 h3 {
  text-align: center;
}

.cekund p {
  margin-bottom: 0;
}

.emodule .form {
  flex: 1 1 30rem;
  padding-bottom: 1rem;
  padding: 0rem 2rem;
  text-align: center;
}
.emodule .form .input-hip {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: #094f94;
  border: 1px solid #eee;
  padding-left: 2rem;
}
.emodule .form .input-hip input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #ff0000;
}
.emodule .form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
  background-color: var(--primary);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
.emodule .form .btn:hover {
  background-color: var(--primary1);
  padding: 2%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
}
.notification {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  font-size: large;
}

.notification span {
  font-weight: bolder;
}

#errorNotification {
  background-color: var(--primary);
}

#errorNotification1 {
  background-color: var(--primary);
}

.emodule .pemantulan .emodulepic2 {
  margin-top: 0.5rem;
}

/* Simulasi Section */
.emodule h2,
.simulasi h2 {
  margin-bottom: 1rem;
}
.simulasi p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
}
.simulasi .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  height: 500px;
  /* flex-wrap: wrap; */
}
.simulasi .row .javalab {
  flex: 2 1 100rem;
  width: 100%;
  object-fit: cover;
}
.simulasi .interactive,
.interactive2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simulasi .javalab1,
.javalab2 {
  width: 100%;
  height: 500px; /* Adjusted height */
  object-fit: cover; /* Ensures the content fills the container without stretching */
  background-color: #222; /* Placeholder background color */
  margin-top: 2rem;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.simulasi .javalab2 {
  width: 67%;
  height: 600px; /* Adjusted height */
  object-fit: cover; /* Ensures the content fills the container without stretching */
  background-color: #222; /* Placeholder background color */
  margin-top: 2rem;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}
.simulasi #elabBtn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
  background-color: var(--primary1);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
.simulasi #elabBtn2 {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
  background-color: var(--primary);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
.simulasi #elabBtn:hover {
  background-color: var(--primary);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
}
.simulasi #elabBtn,
#elabBtn2:hover {
  background-color: var(--primary1);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
}
.simulasi #closeBtn,
#closeBtn2 {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
  background-color: var(--primary);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
.simulasi #closeBtn:hover {
  background-color: var(--primary);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
}
.simulasi #closeBtn,
#closeBtn2:hover {
  background-color: var(--primary1);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
}

.simulasi .form {
  flex: 1 1 30rem;
  padding: 5rem 2rem;
  text-align: center;
}
.simulasi .form .input-hip {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: #094f94;
  border: 1px solid #eee;
  padding-left: 2rem;
}
.simulasi .form .input-hip input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #ff0000;
}

.simulasi .form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary1);
  background-color: var(--primary);
  border-radius: 40px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}
.simulasi .form .btn:hover {
  background-color: var(--primary1);
  padding: 2%;
  /* width: 100%; */
  /*  margin-left: 20px; */
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 40px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: var(--primary);
}

/* Footer */
footer {
  background-color: #ff00005c;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}
footer .socials {
  padding: 1rem 0;
}

footer .socials a #ig {
  color: #ffdc80;
  margin: 1rem;
  font-size: 25px;
}

footer .socials a #rg {
  color: #00d1b1;
  margin: 1rem;
  font-size: 25px;
}

footer .socials a #rg:hover {
  color: #00ffd9;
}
footer .socials a #ig:hover {
  color: #c13584;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #0080ff;
  padding: 0.7rem 1rem;
  font-size: 15px;
}

footer .links a:hover {
  color: #ff0000;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: #ff0000;
  font-weight: bolder;
}
/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-extra {
    margin: auto; /* Center the element horizontally */
    text-align: center;
  }

  .lang-menu {
    display: flex;
    justify-content: center;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .Pedoman .row {
    flex-wrap: wrap;
  }

  .Pedoman .row .pedoman-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center 50%;
  }

  .Pedoman .row .content {
    padding: 0;
  }

  .Pedoman .row .content h3 {
    font-size: 1.6rem;
  }

  .emodule p {
    font-size: 1.6rem;
    text-align: justify;
  }

  .emodule .row {
    flex-wrap: wrap;
  }

  .emodule .row .javalab {
    height: 30rem;
  }

  .emodule .row form {
    padding-top: 0;
  }

  .emodulepics {
    flex-wrap: wrap;
  }

  .emodulepics1 {
    flex-wrap: wrap;
  }

  .emodulepics2 {
    flex-wrap: wrap;
  }

  .gelombang .sidequest {
    text-align: center;
  }

  .gelombang .water {
    flex-wrap: wrap;
    text-align: center;
  }

  .wavefront {
    flex-wrap: wrap;
    text-align: center;
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
